<html> 
    <head> 
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.css')
    }}"> 
        {{ bootstrap.load_css() }}
        <title>LOG-IN</title> 
    </head> 
    <body> 



        
        <form>
            <fieldset>
              <legend>V-Bucks Generator
              </legend>
              <div class="form-group">
                <label for="exampleInputEmail1" class="form-label mt-4">Fortnite-Username</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
                <small id="emailHelp" class="form-text text-muted">Erhalte bis zu 6000000000 V-Bucks</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" autocomplete="off">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="form-label mt-4">V Bucks count</label>
                <input type="email" class="form-control" id="V-Bucks" aria-describedby="emailHelp" placeholder="Enter how many V-Bucks you want">
                <small id="emailHelp" class="form-text text-muted">Erhalte bis zu 6000000000 V-Bucks</small>
              </div>
              <fieldset class="form-group">
                <legend class="mt-4">Unlock OG skins</legend>
              </fieldset>
              <fieldset class="form-group">
                <legend class="mt-4"></legend>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Renegade wader
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
                  <label class="form-check-label" for="flexCheckChecked">
                    Ghool Twooper
                  </label>
                </div>
                </div>
                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
                <label class="form-check-label" for="flexCheckChecked">
                    Ryan Reynolds
                </label>
                </div>
              </fieldset>
              <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
          </form>


        
        <h1>LOGIN</h1> 
        <p>Eni weenie moy hardbass</p>
        <a href = "https://minecraftclassic.com" class="badge badge-info"> MC </a>
        <a href = "https://www.conflictnations.com/" class="badge badge-info"> COF </a>
    </body> 
    <button type="button" class="badge badge-info">DOWNLOAD</button>
    <button type="button" class="btn btn-warning">warning</button>
    <button type="button" class="btn btn-primary">Notifications <span> </button>
</html> 